.chat-container {
    width: 60vw; /* 60% of the viewport width */
    margin: 0 auto;
    border: 1px solid #ffffff;
    padding: 1vw; /* 1% of the viewport width */
    background-color: #ffffff;
    background: linear-gradient(to right, #ffffff, #f8f8f8);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chat-box {
    height: 80vh; /* 70% of the viewport height */
    overflow-y: auto;
    margin-bottom: 2vh; /* 2% of the viewport height */
    padding: 1vw; /* 1% of the viewport width */
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 2vw; /* 2% of the viewport width */
    box-shadow: 0 0.2vw 0.5vw rgba(0,0,0,0.1); /* Sizes relative to the viewport width */
}

.input-area {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw; /* 1% of the viewport width */
    background-color: #f8f8f8;
    border-top: 0.1vw solid #ddd; /* 0.1% of the viewport width */
}

.input-area input {
    flex-grow: 1;
    margin-right: 1vw; /* 1% of the viewport width */
    padding: 0.5vw; /* 1% of the viewport width */
    border: 0.1vw solid #ddd; /* 0.1% of the viewport width */
    border-radius: 2vw; /* 2% of the viewport width */
    outline: none;
    font-size: 1vw; /* 1.6% of the viewport width */
    width: 95ch; /* Limit to 95 characters per line */
    overflow-wrap: break-word; /* Break the word at the end of line */
}

.input-area input:focus {
    border-color: #b51d29;
}

.input-area button {
    padding: 0.5vw 1vw;
    background-color: #b51d29;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1vw;
    outline: none;
    transition: background-color 0.3s ease;
}

.input-area button:hover {
    background-color: #9e1a22;
}

.user-message, .bot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
}
.user-message:hover, .bot-message:hover {
    /* Change the box shadow on hover */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.user-message {
    background-color: #d9ecfd  ; 
}

.bot-message {
    background-color: #e9ebed ; 
}
/* Additional CSS styles */
body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font for the body */
}

.container {
    display: flex;
    height: 100vh;
    overflow: auto;
}

.left-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 200px;
    background-color: #f5f5f5;
    overflow: auto;
}

/* Styles for the chat container */
.chat-container {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.chat-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.user-message, .bot-message {
    display: inline-block;
    max-width: 100%; /* Adjust this value as needed */
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
}

.bot-message {
    align-self: flex-start;
}

.video-banner {
    position: fixed;
    bottom: 20px;
    left: -27px; /* Move the video banner 20px to the right */
    width: 300px;
    height: 168px;
    overflow: hidden;
    z-index: 1000;
}

.video-banner video {
    width: 100%;
    height: 100%;
}
.bot-label.with-icon::before {
    content: "";  /* No content */
    background: red url('kapital bank.png') no-repeat center center;  /* Set the image as a background inside a red circle */
    background-size: contain;  /* Resize the image to fit the container */
    margin-right: 5px;
    display: inline-block;
    width: 32px;  /* Adjust as needed */
    height: 32px;  /* Adjust as needed */
    border-radius: 50%;  /* Makes the icon circular */
    vertical-align: middle;  /* Aligns the icon vertically with the text */
    margin-bottom: 5px;
}
#new-chat-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 60px;
    font-size: 16px;
    color: #b51d29;
    background-color: white;
    border: 2px solid #b51d29;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#new-chat-button::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: white url('kapital\ bank\ life.jpeg') no-repeat center;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#new-chat-button:hover {
    background-color: #b51d29;
    color: white;
}

#new-chat-button:hover::before {
    background-color: #b51d29;
}

/* Additional CSS styles */
body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font for the body */
    overflow: hidden; /* Prevent scrolling of the entire page */
}

.container {
    display: auto;
    height: 100vh;
    /* overflow: auto; Remove overflow property */
}

h3 {
    text-align: center;
    color: #333;
    font-size: 14;
    margin-bottom: 30px;
    margin-top: 40px;
}

#saved-chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.saved-chat {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 15px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.saved-chat:hover {
    background-color: #ddd;
    color: #333;
}
.saved-chat button {
    margin-left: 10px;
    color: #f00;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Add transition for smooth color change */
}

.saved-chat button:hover {
    color: #ff0000; /* Change color on hover */
    background-color: #ddd; /* Change background color on hover */
}